[Unit]
Description=Teeworlds server with %i.cfg config file
After=syslog.target network.target

[Service]
User=teeworlds
WorkingDirectory=/etc/teeworlds/
ExecStart=/usr/bin/teeworlds-srv -f %i.cfg
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
